<div class="row align-items-center">
    <div class="col-sm-6">
        <div class="d-flex align-items-center">
            <h1 class="text-muted me-3">Brand: {{ totalRecords_brands }}</h1>
            <!-- <div class="vertical-divider mx-2"></div> -->
            <h1 class="text-muted mx-3">Category: {{ totalRecords_category }}</h1>
            <!-- <div class="vertical-divider mx-2"></div> -->
            <h1 class="text-muted ms-3">Products: {{ totalRecords_products }}</h1>
        </div>
        <div class="search-bar mt-3">
            <input type="text" placeholder="Search By Brand" [(ngModel)]="searchTerm" (input)="filterData()">
            <i class="search-icon text-muted i-Magnifi-Glass1"></i>
        </div>
    </div>
    <div class="col-sm-6 text-end" style="margin-bottom: -76px;">
        <div class="button-row d-flex justify-content-end">
            <div class="btn-group">
                <button type="button" class="btn btn-primary me-2" (click)="openproductpopup(productpage)">+Product</button>
                <!-- <button type="button" class="btn btn-primary me-2" (click)="opencategorypopup(categorypage)">+Category</button>
                <button type="button" class="btn btn-primary" (click)="openbrandpopup(brandpage)">+Brand</button> -->
            </div>
            <div class="form-group">
                <input type="file" id="file" (change)="onFileSelected($event)" class="form-control" />
            </div>
            <button (click)="onUpload()" class="btn btn-primary">Upload Excel</button>
            <!-- <p *ngIf="uploadStatus" class="mt-3">{{ uploadStatus }}</p>  -->
        </div>
    </div>

    <!-- <div>
        <input type="file" id="file" (change)="onFileSelected_customerdata($event)" class="form-control" />

    </div>
    <button (click)="onUpload_customerdata()" class="btn btn-primary">Upload Excel</button> -->
    <!-- <div>
        <input type="file" id="file" (change)="onFileSelected_bulletdata($event)" class="form-control" />

    </div>
    <button (click)="onUpload_bulletdata()" class="btn btn-primary">Upload Excel</button> -->

    

    
</div>
<div style="padding: 10px;"></div>

<div class="table-responsive">
    <table class="trans-table">
        <thead>
            <tr>
                <th style="width: 1%;">Sl.No</th>
                <th style="width: 12%; text-align: center;">Supplier</th>
                <th style="width: 20%; text-align: center;">Brand</th>
                <th style="width: 1px; text-align: center;">Product Id</th>
                <th style="width: 11%; text-align: center;">Serial No</th>
                <th style="width: 15%; text-align: center;">Product Name</th>
                <th style="width: 1%; text-align: right;">QTY</th>
                <th style="width: 5%; text-align: right;">GST %</th>
                <th style="width: 2%; text-align: right;">MRP</th>
                <th style="width: 8%; text-align: right;">Discount %</th>
                <th style="width: 2%; text-align: right;">Action</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of productsdata; let i = index">
                <td>{{i+1}}</td>
                <td style="width: 1px; text-align: center;">{{data.supplier_name}}</td>
                <td style="width: 1px; text-align: center;">{{data.brand}}</td>
                <td style="width: 1px; text-align: center;">{{data.product_id}}</td>
                <td style="width: 1px; text-align: center;">{{data.serial_no}}</td>
                <td style="width: 1px; text-align: center;">{{data.product_name}}</td>
                <td style="text-align: right;">{{data.qty}}</td>
                <td style="text-align: right;">{{data.GST_ID}}</td>
                <td style="text-align: right;">{{data.MRP.toFixed(2)}}</td>
                <td style="text-align: right;">{{data.maximum_discount}}</td>
                <td><i class="i-File-Edit" style="cursor: pointer;" (click)="editproduct_popup(editproductpage,data._id,data)" ></i></td>

            </tr>
        </tbody>
    </table>
</div>

<ng-template #productpage_orginal>
    <div class="col-md-12">
        <div class="modal-header" style="display: flex;">
            <i (click)="closedialog()" class="i-Close-Window" style="width: 25px; margin-left: auto;font-size:24px"></i>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <h4 class="card-title mb-4 text-left">Add Product Details</h4>
                <div class="row g-3">
                    <div class="col-md-4">
                        <label for="serialno" class="form-label">Product S.No</label>
                        <input type="text" class="form-control" id="serialno" [(ngModel)]="productobj.serial_no">
                    </div>

                    <div class="col-md-4">
                        <label for="productid" class="form-label">Product ID</label>
                        <input type="text" class="form-control" id="productid" [(ngModel)]="productobj.product_id">
                    </div>

                    <!-- <div class="col-md-4">
                        <label for="supplierId" class="form-label">Supplier ID</label>
                        <input type="text" class="form-control" id="supplierId" [(ngModel)]="productobj.supplier_id" >
                    </div> -->

                    <div class="col-md-4">
                        <label for="brand" class="form-label">Select Supplier</label>
                        <select class="form-select" [(ngModel)]="productobj.supplier_id">
                            <option *ngFor="let supplier of allsupplierdata" [ngValue]="supplier._id">{{supplier.name}}
                            </option>
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label for="brand" class="form-label">Select Brand</label>
                        <select class="form-select" [(ngModel)]="inputbrandarray.brand">
                            <option *ngFor="let brand of branddata" [ngValue]="brand">{{brand.brand}}</option>
                        </select>
                    </div>
                    <!-- it want to open when the brand has more data prevention code function is also there and css -->
                    <!-- <div class="col-md-4">
                        <label for="brand" class="form-label">Select Brand</label>
                        
                        <input type="text" class="form-control" placeholder="Search Brand" 
                               [(ngModel)]="selectedBrandName" (input)="filterBrands()" />
                        
                        <ul *ngIf="filteredBrandData.length > 0" class="suggestion-list">
                            <li *ngFor="let brand of filteredBrandData" 
                                (click)="selectBrand(brand)">
                                {{ brand.brand }}
                            </li>
                        </ul>
                    </div> -->
                    <!-- it want to open when the brand has more data prevention code -->


                    <div class="col-md-4">
                        <label for="category" class="form-label">Select Category</label>
                        <select class="form-select" [(ngModel)]="inputcategoryArray.category">
                            <option *ngFor="let category of categorydata" [ngValue]="category">{{category.category}}
                            </option>
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label for="product_name" class="form-label">Product Name</label>
                        <input type="text" class="form-control" id="product_name" [(ngModel)]="productobj.product_name">
                    </div>

                    <div class="col-md-4">
                        <label for="hsn_no" class="form-label">HSN Code</label>
                        <input type="text" class="form-control" id="hsn_no" [(ngModel)]="productobj.HSN">
                    </div>

                    <div class="col-md-4">
                        <label for="category" class="form-label">Select GST</label>
                        <select class="form-select" [(ngModel)]="productobj.GST_ID">
                            <option [ngValue]="18">18%</option>
                            <option [ngValue]="28">28%</option>
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label for="mrp" class="form-label">MRP</label>
                        <input type="number" class="form-control" id="mrp" [(ngModel)]="productobj.MRP"
                            (focus)="clearOnFocus('MRP')" (blur)="formatOnBlur('MRP')">
                    </div>

                    <div class="col-md-4">
                        <label for="qty" class="form-label">Quantity</label>
                        <input type="number" class="form-control" id="qty" [(ngModel)]="productobj.qty">
                    </div>

                    <div class="col-md-4">
                        <label for="maxDiscount" class="form-label">Max Discount%</label>
                        <input type="text" class="form-control" id="maxDiscount"
                            [(ngModel)]="productobj.maximum_discount">
                    </div>

                    <div class="col-md-4">
                        <label for="rol" class="form-label">Reorder Level</label>
                        <input type="number" class="form-control" id="rol" [(ngModel)]="productobj.ROL"
                            (focus)="clearOnFocus('ROL')" (blur)="formatOnBlur('ROL')">
                    </div>

                    <div class="col-md-4">
                        <label for="roq" class="form-label">Reorder Quantity</label>
                        <input type="number" class="form-control" id="roq" [(ngModel)]="productobj.ROQ"
                            (focus)="clearOnFocus('ROQ')" (blur)="formatOnBlur('ROQ')">
                    </div>

                    <div class="col-md-12">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" rows="4"
                            [(ngModel)]="productobj.product_desc"></textarea>
                    </div>

                    <div class="col-md-12 text-center mt-4">
                        <button type="submit" class="btn btn-primary btn-rounded" id="productsave"
                            (click)="productsave(conform_mrp_popup)">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #brandpage>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title" style="color: grey;font-size: x-large ">Add Brand</h4>
        <i (click)="closedialog_brand()" class="i-Close-Window" style="width: 25px;font-size:24px"></i>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="picker1">Brand</label>
                <input class="form-control" [(ngModel)]="addbrand">
                <span *ngIf="inventory_things" class="error-message"> already exists</span>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-rounded" (click)="savebrand()">Save</button>
    </div>
</ng-template>

<ng-template #categorypage>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title" style="color: grey;font-size: x-large ">Add Category</h4>
        <i (click)="closedialog_category()" class="i-Close-Window" style="width: 25px;font-size:24px"></i>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="picker1">Category</label>
                <input class="form-control" [(ngModel)]="category">
                <span *ngIf="inventory_things" class="error-message"> already exists</span>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-rounded" (click)="saveCategory()">Save</button>
    </div>
</ng-template>



<ng-template #modelpage>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title" style="color: grey;font-size: x-large ">Add Model</h4>
        <i (click)="closedialog_model()" class="i-Close-Window" style="width: 25px;font-size:24px"></i>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="picker1">Model</label>
                <input class="form-control" [(ngModel)]="addmodel">
                <span *ngIf="inventory_things" class="error-message"> already exists</span>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-rounded" (click)="savemodel()">Save</button>
    </div>
</ng-template>

<ng-template #conform_mrp_popup>
    <div style="padding: 10px;">

        <h3>Already There Is a Product With The Amount of {{checkedproductmrp}}</h3>
        <h3>Do You Want to Update the MRP as {{productobj.MRP}}?</h3>
        <div class="button-container">
            <button class="btn btn-primary btn-rounded" (click)="conform_mrp_popup_process('no')">No</button>
            <button class="btn btn-primary btn-rounded" (click)="conform_mrp_popup_process('yes')">Yes</button>
        </div>
    </div>
</ng-template>





<ng-template #productpage>
    <div class="col-md-12">
        <div style="display: flex;padding: 10px;">
            <i (click)="closedialog()" class="i-Close-Window" style="width: 25px; margin-left: auto;font-size:24px"></i>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <h4 class="card-title mb-4 text-left" style="color: grey;font-size: x-large ">Add Product Details</h4>

                <div class="row g-3">
                    <div class="col-md-4">
                        <label for="brand" class="form-label">Select Supplier</label>
                        <select class="form-select" [(ngModel)]="productobj.supplier_id">
                            <option *ngFor="let supplier of allsupplierdata" [ngValue]="supplier._id">{{supplier.name}}
                            </option>
                        </select>
                    </div>

                    <div class="itemsdetails">
                        <h4 style="color: grey; " class="itemsPlaceholder"><strong>Items</strong></h4>
                        <div class="borderContainer">
                            <div class="row">


                                <div class="col-md-4 position-relative" *ngIf="singlebrand">
                                    <label for="brand" class="form-label">Select Brand</label>

                                    <input type="text" class="form-control" placeholder="Search Brand"
                                        [(ngModel)]="selectedBrandName" (input)="filterBrands()"
                                        (focus)="showDropdown = true" (blur)="hidebrandDropdown()" />

                                    <!-- <ul *ngIf="showDropdown" class="dropdown-menu show custom-dropdown"
                                        [style.position]="'absolute'" [style.zIndex]="1000" [style.width]="'100%'">
                                        <li *ngFor="let brand of branddata" class="dropdown-item" (click)="selectBrand(brand)">
                                            {{brand}}
                                        </li>
                                        <button class="btn btn-primary" (click)="openbrandpopup(brandpage)">add New</button>
                                    </ul> -->
                                </div>



                                <div *ngIf="!singlebrand" class="col-md-4 position-relative">
                                    <label for="brand" class="form-label">Select Brand</label>

                                    <input type="text" class="form-control" placeholder="Search Brand"
                                        [(ngModel)]="selectedBrandName" (input)="filterBrands()"
                                        (focus)="showDropdown = true" (blur)="hidebrandDropdown()" />

                                    <ul *ngIf="showDropdown" class="dropdown-menu show custom-dropdown"
                                        [style.position]="'absolute'" [style.zIndex]="1000" [style.width]="'100%'">
                                        <li *ngFor="let brand of branddata" class="dropdown-item" (click)="selectBrand(brand)">
                                            {{brand}}
                                        </li>
                                        <button class="btn btn-primary" (click)="openbrandpopup(brandpage)">add New</button>
                                    </ul>
                                </div>

                                <div class="col-md-4 position-relative">
                                    <label for="Category" class="form-label">Select Model</label>
                                    <input type="text" class="form-control" placeholder="Search Model"
                                        [(ngModel)]="selectedmodelname" (input)="filterCategory()"
                                        (focus)="showmodelDropdown = true"  (blur)="hidemodelDropdown()" />
                                    <ul *ngIf="showmodelDropdown"
                                        class="dropdown-menu show custom-dropdown" [style.position]="'absolute'" [style.zIndex]="1000"
                                        [style.width]="'100%'">
                                        <li *ngFor="let model of seletedbrand_model" class="dropdown-item"
                                            (click)="selectmodel(model)">
                                            {{ model.bikename }}
                                        </li>
                                        <button class="btn btn-primary" (click)="openmodelpopup(modelpage)">add New</button>
                                    </ul>
                                </div>

                                <div class="col-md-4 position-relative">
                                    <label for="Category" class="form-label">Select Category</label>
                                    <input type="text" class="form-control" placeholder="Search Category"
                                        [(ngModel)]="selectedcategoryname" (input)="filterCategory()"
                                        (focus)="showcategoryDropdown = true"  (blur)="hidecategoryDropdown()" />
                                    <ul *ngIf="showcategoryDropdown"
                                        class="dropdown-menu show custom-dropdown" [style.position]="'absolute'" [style.zIndex]="1000"
                                        [style.width]="'100%'">
                                        <li *ngFor="let Category of categorydata" class="dropdown-item"
                                            (click)="selectcategory(Category)">
                                            {{ Category.category }}
                                        </li>
                                        <button class="btn btn-primary" (click)="opencategorypopup(categorypage)">add New</button>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="productdetails">
                        <h4 style="color: grey; " class="productPlaceholder"><strong>product</strong></h4>
                        <div class="borderContainer">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="serialno" class="form-label">Product S.No</label>
                                    <input type="text" class="form-control" id="serialno"
                                        [(ngModel)]="productobj.serial_no">
                                </div>
                                <div class="col-md-4">
                                    <label for="productid" class="form-label">Part Code</label>
                                    <input type="text" class="form-control" id="productid"
                                        [(ngModel)]="productobj.partcode" (blur)="checkFullProductId(productobj.partcode)">
                                </div>
                                <div class="col-md-4">
                                    <label for="productid" class="form-label">Product ID</label>
                                    <input type="text" class="form-control" id="productid"
                                        [(ngModel)]="productobj.product_id" (blur)="checkFullProductId(productobj.product_id)">
                                </div>
                                <div class="col-md-4">
                                    <label for="product_name" class="form-label">Product Name</label>
                                    <input type="text" class="form-control" id="product_name"
                                        [(ngModel)]="productobj.product_name">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="amounttdetails">
                        <h4 style="color: grey; " class="amountPlaceholder"><strong>Amount</strong></h4>
                        <div class="borderContainer">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="hsn_no" class="form-label">HSN Code</label>
                                    <input type="text" maxlength="6" class="form-control" id="hsn_no" [(ngModel)]="productobj.HSN">
                                </div>
                                <div class="col-md-4">
                                    <label for="category" class="form-label">Select GST</label>
                                    <select class="form-select" [(ngModel)]="productobj.GST_ID">
                                        <option [ngValue]="'28'">5%</option>
                                        <option [ngValue]="'18'">18%</option>
                                        <option [ngValue]="'28'">28%</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label for="mrp" class="form-label">MRP</label>
                                    <input type="number" class="form-control" id="mrp" [(ngModel)]="productobj.MRP"
                                        (focus)="clearOnFocus('MRP')" (blur)="formatOnBlur('MRP')">
                                </div>
                                <div class="col-md-4">
                                    <label for="maxDiscount" class="form-label">Max Discount%</label>
                                    <input type="text" class="form-control" id="maxDiscount" maxlength="2"
                                        [(ngModel)]="productobj.maximum_discount">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="measurementdetails">
                        <h4 style="color: grey; " class="measurementPlaceholder"><strong>Measurement</strong></h4>
                        <div class="borderContainer">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="qty" class="form-label">Quantity</label>
                                    <input type="number" class="form-control" id="qty" [(ngModel)]="productobj.qty" 
                                    (focus)="clearOnFocus('qty')" (blur)="formatOnBlur('qty')">
                                </div>

                                <div class="col-md-4">
                                    <label for="rol" class="form-label">Reorder Level</label>
                                    <input type="number" class="form-control" id="rol" [(ngModel)]="productobj.ROL"
                                        (focus)="clearOnFocus('ROL')" (blur)="formatOnBlur('ROL')">
                                </div>
                                <div class="col-md-4">
                                    <label for="roq" class="form-label">Reorder Quantity</label>
                                    <input type="number" class="form-control" id="roq" [(ngModel)]="productobj.ROQ"
                                        (focus)="clearOnFocus('ROQ')" (blur)="formatOnBlur('ROQ')">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" rows="4"
                            [(ngModel)]="productobj.product_desc"></textarea>
                    </div>
                    <div class="col-md-12 text-center mt-4">
                        <button type="submit" class="btn btn-primary btn-rounded" id="productsave"
                            (click)="productsave(conform_mrp_popup)">Save</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</ng-template>





<ng-template #editproductpage>

    <div class="col-md-12">
        <div style="display: flex;padding: 10px;">
            <i (click)="closedialog()" class="i-Close-Window" style="width: 25px; margin-left: auto;font-size:24px"></i>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <h4 class="card-title mb-4 text-left" style="color: grey;font-size: x-large ">Add Product Details</h4>

                <div class="row g-3">
                    <div class="col-md-4">
                        <label for="brand" class="form-label">Select Supplier</label>
                        <select class="form-select" [(ngModel)]="fullproductdata_foredit.supplier_id"  (ngModelChange)="onSupplierChange($event)">
                            <option *ngFor="let supplier of allsupplierdata" [ngValue]="supplier._id">{{supplier.name}}
                            </option>
                        </select>
                    </div>

                    <div class="itemsdetails">
                        <h4 style="color: grey; " class="itemsPlaceholder"><strong>Items</strong></h4>
                        <div class="borderContainer">
                            <div class="row">
                                <div class="col-md-4 position-relative">
                                    <label for="brand" class="form-label">Select Brand</label>

                                    <input type="text" class="form-control" placeholder="Search Brand"
                                        [(ngModel)]="brandnameforedit" (input)="filterbrand_foredit()"
                                        (focus)="showDropdown = true" (blur)="hidebrandDropdown()" />

                                    <ul *ngIf="showDropdown" class="dropdown-menu show custom-dropdown"
                                        [style.position]="'absolute'" [style.zIndex]="1000" [style.width]="'100%'">
                                        <li *ngFor="let brand of branddata" class="dropdown-item"
                                            (click)="selectBrand_foredit(brand)">
                                            {{ brand }}
                                        </li>
                                        <button class="btn btn-primary" (click)="openbrandpopup(brandpage)">add New</button>
                                    </ul>
                                </div>

                                <div class="col-md-4 position-relative">
                                    <label for="Category" class="form-label">Select Model</label>
                                    <input type="text" class="form-control" placeholder="Search Category"
                                        [(ngModel)]="modelnameforedit" (input)="filtercategory_foredit()"
                                        (focus)="showcategoryDropdown = true"  (blur)="hidecategoryDropdown()" />
                                    <ul *ngIf="showcategoryDropdown"
                                        class="dropdown-menu show custom-dropdown" [style.position]="'absolute'" [style.zIndex]="1000"
                                        [style.width]="'100%'">
                                        <li *ngFor="let model of selected_model_foredit" class="dropdown-item"
                                            (click)="selectmodel_foredit(model)">
                                            {{ model.bikename }}
                                        </li>
                                        <button class="btn btn-primary" (click)="opencategorypopup(categorypage)">add New</button>
                                    </ul>
                                </div>

                                

                                <div class="col-md-4 position-relative">
                                    <label for="Category" class="form-label">Select Category</label>
                                    <input type="text" class="form-control" placeholder="Search Category"
                                        [(ngModel)]="categorynameforedit" (input)="filtercategory_foredit()"
                                        (focus)="showcategoryDropdown = true"  (blur)="hidecategoryDropdown()" />
                                    <ul *ngIf="showcategoryDropdown"
                                        class="dropdown-menu show" [style.position]="'absolute'" [style.zIndex]="1000"
                                        [style.width]="'100%'">
                                        <li *ngFor="let Category of filteredcategoryData_foredit" class="dropdown-item"
                                            (click)="selectcategory_foredit(Category)">
                                            {{ Category.category }}
                                        </li>
                                        <button class="btn btn-primary" (click)="opencategorypopup(categorypage)">add New</button>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="productdetails">
                        <h4 style="color: grey; " class="productPlaceholder"><strong>product</strong></h4>
                        <div class="borderContainer">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="serialno" class="form-label">Product S.No</label>
                                    <input type="text" class="form-control" id="serialno"
                                        [(ngModel)]="fullproductdata_foredit.serial_no">
                                </div>
                                <div class="col-md-4">
                                    <label for="productid" class="form-label">Part Code</label>
                                    <input type="text" class="form-control" id="productid"
                                        [(ngModel)]="fullproductdata_foredit.partcode" (blur)="checkFullProductId(productobj.partcode)">
                                </div>
                                <div class="col-md-4">
                                    <label for="productid" class="form-label">Product ID</label>
                                    <input type="text" class="form-control" id="productid"
                                        [(ngModel)]="fullproductdata_foredit.product_id" (blur)="checkFullProductId(productobj.product_id)">
                                </div>
                                <div class="col-md-4">
                                    <label for="product_name" class="form-label">Product Name</label>
                                    <input type="text" class="form-control" id="product_name"
                                        [(ngModel)]="fullproductdata_foredit.product_name">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="amounttdetails">
                        <h4 style="color: grey; " class="amountPlaceholder"><strong>Amount</strong></h4>
                        <div class="borderContainer">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="hsn_no" class="form-label">HSN Code</label>
                                    <input type="text" maxlength="6" class="form-control" id="hsn_no" [(ngModel)]="fullproductdata_foredit.HSN">
                                </div>
                                <div class="col-md-4">
                                    <label for="category" class="form-label">Select GST</label>
                                    <select class="form-select" [(ngModel)]="fullproductdata_foredit.GST_ID">
                                        <option [ngValue]="'28'">5%</option>
                                        <option [ngValue]="'18'">18%</option>
                                        <option [ngValue]="'28'">28%</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label for="mrp" class="form-label">MRP</label>
                                    <input type="number" class="form-control" id="mrp" [(ngModel)]="fullproductdata_foredit.MRP"
                                        (focus)="clearOnFocus('MRP')" (blur)="formatOnBlur('MRP')">
                                </div>
                                <div class="col-md-4">
                                    <label for="maxDiscount" class="form-label">Max Discount%</label>
                                    <input type="text" class="form-control" id="maxDiscount" maxlength="2"
                                        [(ngModel)]="fullproductdata_foredit.maximum_discount">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="measurementdetails">
                        <h4 style="color: grey; " class="measurementPlaceholder"><strong>Measurement</strong></h4>
                        <div class="borderContainer">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="qty" class="form-label">Quantity</label>
                                    <input type="number" class="form-control" id="qty" [(ngModel)]="fullproductdata_foredit.qty" 
                                    (focus)="clearOnFocus('qty')" (blur)="formatOnBlur('qty')">
                                </div>

                                <div class="col-md-4">
                                    <label for="rol" class="form-label">Reorder Level</label>
                                    <input type="number" class="form-control" id="rol" [(ngModel)]="fullproductdata_foredit.ROL"
                                        (focus)="clearOnFocus('ROL')" (blur)="formatOnBlur('ROL')">
                                </div>
                                <div class="col-md-4">
                                    <label for="roq" class="form-label">Reorder Quantity</label>
                                    <input type="number" class="form-control" id="roq" [(ngModel)]="fullproductdata_foredit.ROQ"
                                        (focus)="clearOnFocus('ROQ')" (blur)="formatOnBlur('ROQ')">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" rows="4"
                            [(ngModel)]="fullproductdata_foredit.product_desc"></textarea>
                    </div>
                    <div class="col-md-12 text-center mt-4">
                        <button type="submit" class="btn btn-primary btn-rounded" id="productsave"
                            (click)="update_product()">update</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</ng-template>



















<!-- <div class="overall">
    <div class="overallRow">
        <div class="inputserialno">
            <div class="serialno">
                <label for="brand">S.No</label>
                <input type="text" class="form-control" [(ngModel)]="product.serial_no">
            </div>
            <div class="inputproductid">
                <div class="productid">
                    <label for="productid">Product Id</label>
                    <input type="text" class="form-control" [(ngModel)]="product.product_id">
                </div>
            </div>
            <div class="inputsupid">
                <div class="supplierId">
                    <label for="supplierId">Supplier Id</label>
                    <input type="text" class="form-control" [(ngModel)]="product.supplier_id">
                </div>
            </div>
            <div class="inputbrandname">
                <div class="brandname">
                    <label for="name">Brand</label>
                    <input type="text" class="form-control" [(ngModel)]="product.brand">
                </div>
            </div>
            <div class="inputname">
                <div class="name">
                    <label for="name">Product Name</label>
                    <input type="text" class="form-control" [(ngModel)]="product.product_name">
                </div>
            </div>
            <div class="inputbrandDesc">
                <div class="brandDesc">
                    <label for="description">description</label>
                    <input type="text" class="form-control" [(ngModel)]="product.product_desc">
                </div>
            </div>
            <div class="inputbrandname">
                <div class="brandname">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" [(ngModel)]="product.product_name">
                </div>
            </div>
            <div class="inputhsn">
                <div class="hsn">
                    <label for="hsncode">HSN Code</label>
                    <input type="text" class="form-control" [(ngModel)]="product.hsn_no">
                </div>
            </div>
            <div class="inputgstvalue">
                <div class="gstvalue">
                    <label for="gst">GST</label>
                    <input type="text" class="form-control" [(ngModel)]="product.gstId">
                </div>
            </div>
            <div class="inputmrp">
                <div class="mrpvalue">
                    <label for="mrp">MRP</label>
                    <input type="text" class="form-control" [(ngModel)]="product.mrp">
                </div>
            </div>
            <div class="inputgstvalue">
                <div class="gstvalue">
                    <label for="gst">GST</label>
                    <input type="text" class="form-control" [(ngModel)]="product.gstId">
                </div>
            </div>
            <div class="inputqty">
                <div class="qtyvalue">
                    <label for="qty">QTY</label>
                    <input type="text" class="form-control" [(ngModel)]="product.qty">
                </div>
            </div>
            <div class="inputdiscount">
                <div class="discountvlaue">
                    <label for="maxdiscount">Max Discount</label>
                    <input type="text" class="form-control" [(ngModel)]="product.maxDiscount">
                </div>
            </div>
            <div class="inputrol">
                <div class="rolvalue">
                    <label for="rol">Reorder Level</label>
                    <input type="text" class="form-control" [(ngModel)]="product.rol">
                </div>
            </div>
            <div class="inputroq">
                <div class="roqvalue">
                    <label for="roq">Reorder Quantity</label>
                    <input type="text" class="form-control" [(ngModel)]="product.roq">
                </div>
            </div>
        </div>
    </div>
</div> -->